
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nouvel Utilisateur</title>
    </head>
  <body class="container">
    <h1 class="h1 pt-4 pb-2">Création d'un nouvel utilisateur</h1>
    <form action="/addUser" method="post">
      <fieldset class="form-group">
	<legend>Votre identité : </legend>
	<label for="idName" class="form-text">Votre prénom : </label><input type="text" class="form-control" id="idName" name="name" placeholder="Entrez votre prénom" value="Bernard">
	<label for="idLastName" class="form-text">Votre nom : </label><input type="text" class="form-control" id="idLastName" name="lastName" placeholder="Entrez votre nom" value="Chanceux">
	<label for="idPseudo" class="form-text">Votre pseudo : </label><input type="text" class="form-control" id="idPseudo" name="pseudo" placeholder="Choisissez un pseudo" disabled>
	<input type="hidden" name="myPseudo">
	</fieldset>
      <fieldset class="form-group">
	<legend>Vos indentifiants : </legend>
	<label for="idMail" class="form-text">Votre adresse mail : </label><input type="email" class="form-control" id="idMail" name="mail" placeholder="Entrez votre adresse mail" value="Thomas">
	<label for="idConfMail" class="form-text">Confirmation de votre adresse mail : </label><input type="email" class="form-control" id="idConfMail" name="confMail" placeholder="Confirmez votre adresse mail" value="alain@bebe.fr">
	<label for="idMdp" class="form-text">Votre mot de passe : </label><input type="password" class="form-control" id="idMdp" name="mdp" placeholder="Entrez un mot de passe" value="mardi">
	<label for="idConfMdp" class="form-text">Confirmation du mot de passe : </label><input type="password" class="form-control" id="idConfMdp" name="confMdp" placeholder="Confirmez votre mot de passe" value="mardi">
	</fieldset>
      <input type="submit" class="btn btn-primary" value="Créer le compte">
      </form>
    <footer class="page-footer pt-4">
      <p>© Trio Web.</p>
      </footer>
    </body>
</html>